@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: rgb(157, 119, 247);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    font-family: "Roboto", sans-serif;
    background: purple;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}
